# GitHub action for CI

name: ci

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install project
        run: |
          uv sync

      - name: Run tests
        run: |
          uv run pytest tests/ --doctest-modules src/coco_lib/ --cov=coco_lib --cov-report=term-missing -v

      - name: Version and release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          uv run semantic-release version